@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: whitesmoke;          
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 600;
  font-size: 18px;
}